/* html{
	background: rgba(0, 0, 0, 0.6) url("webpage-bg-2.jpg");
	background-size: cover;
	background-repeat: no-repeat;
	background-blend-mode: darken;
} */

/* .com {
	height:100%;
    width:100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;

	text-align: center;
	font-family: Helvetica, sans-serif;
	font-size: 120%;
	color: white;
} */

/* ------------------------------------------- First Page -------------------------------------------- */

* {
	box-sizing: border-box; 
}


body {
	margin: 0; 
	font-weight: 500;
	font-family: 'Arial', sans-serif;
	background-color: #000000;
	text-align: center
}


.titlepage {
	width: 100%;
	padding: 0 7%;
	display: table;
	margin: 0;
	max-width: none;
	background-color: #000102;
	height: 100vh;
	background-image:url("webpage-bg-2.jpg");
	background-repeat:no-repeat;
	background-size:cover;
}


h1 {
    color: white;
	font-family: Consolas, Arial, sans-serif;
	font-size: 500%;
    	
	height:60%;
    width:100%;
    display: flex;
    /* position: fixed; */
    align-items: center;
    justify-content: center;
}


nav a {
	display: inline;
	margin-right: 40px;
	text-align: center;
	font-weight: 500;
	font-size: 150%;
	font-family: Consolas, 'Arial', sans-serif;
	text-decoration: none;
	color: #ffffff;
}

nav a:hover {
    color: #ffffff;
    text-decoration: none;
	background-color: #000000;
}

.content {
	display: table-cell;
	vertical-align: middle;
}


p {
	text-align: center;
	font-family: Helvetica, sans-serif;
	font-size: 110%;
	color: white;

}


/* ------------------------------------------- Second Page -------------------------------------------- */

.about {
	position: relative;
	overflow: hidden;
	height: 95%; /* Or set a fixed height */
}

/* SLIDER */

.about .slider {
	height: 95%;
	white-space: nowrap;
	font-size: 0;
	transition: 0.8s;
}

/* SLIDES */

.about .slider > * {
	font-size: 1rem;
	display: inline-block;
	white-space: normal;
	vertical-align: top;
	height: 100%;
	width: 100%;
	background: none 50% no-repeat;
	background-size: cover;
}

/* PREV/NEXT, CONTAINERS & ANCHORS */

.about .prevNext {
	position: absolute;
	z-index: 1;
	top: 50%;
	width: 100%;
	height: 0;
}

.about .prevNext > div+div {
	visibility: hidden; /* Hide all but first P/N container */
}

.about .prevNext a {
	background: #fff;
	position: absolute;
	width:       60px;
	height:      60px;
	line-height: 60px; /* If you want to place numbers */
	text-align: center;
	opacity: 0.7;
	-webkit-transition: 0.3s;
					transition: 0.3s;
	-webkit-transform: translateY(-50%);
					transform: translateY(-50%);
	left: 0;
}
.about .prevNext a:hover {
	opacity: 1;
}
.about .prevNext a+a {
	left: auto;
	right: 0;
}

/* NAVIGATION */

.about .bullets {
	position: absolute;
	z-index: 2;
	bottom: 0;
	padding: 10px 0;
	width: 100%;
	text-align: center;
	margin-bottom: 5vh;
}
.about .bullets > a {
	display: inline-block;
	width:       30px;
	height:      30px;
	line-height: 30px;
	text-decoration: none;
	text-align: center;
	background: rgba(255, 255, 255, 1);
	-webkit-transition: 0.3s;
					transition: 0.3s;
}
.about .bullets > a+a {
	background: rgba(255, 255, 255, 0.5); /* Dim all but first */
}
.about .bullets > a:hover {
	background: rgba(255, 255, 255, 0.7) !important;
}

/* NAVIGATION BUTTONS */
/* ALL: */
.about >s:target ~ .bullets >* {      background: rgba(255, 255, 255, 0.5);}
/* ACTIVE */
#s1:target ~ .bullets >*:nth-child(1) {background: rgba(255, 255, 255,   1);}
#s2:target ~ .bullets >*:nth-child(2) {background: rgba(255, 255, 255,   1);}
#s3:target ~ .bullets >*:nth-child(3) {background: rgba(255, 255, 255,   1);}
#s4:target ~ .bullets >*:nth-child(4) {background: rgba(255, 255, 255,   1);}
/* More slides? Add here more rules */

/* PREV/NEXT CONTAINERS VISIBILITY */
/* ALL: */
.about >s:target ~ .prevNext >* {      visibility: hidden;}
/* ACTIVE: */
#s1:target ~ .prevNext >*:nth-child(1) {visibility: visible;}
#s2:target ~ .prevNext >*:nth-child(2) {visibility: visible;}
#s3:target ~ .prevNext >*:nth-child(3) {visibility: visible;}
#s4:target ~ .prevNext >*:nth-child(4) {visibility: visible;}
/* More slides? Add here more rules */

/* SLIDER ANIMATION POSITIONS */

#s1:target ~ .slider {transform: translateX(   0%); -webkit-transform: translateX(   0%);}
#s2:target ~ .slider {transform: translateX(-100%); -webkit-transform: translateX(-100%);}
#s3:target ~ .slider {transform: translateX(-200%); -webkit-transform: translateX(-200%);}
#s4:target ~ .slider {transform: translateX(-300%); -webkit-transform: translateX(-300%);}
/* More slides? Add here more rules */


/* YOU'RE THE DESIGNER! 
   ____________________
   All above was mainly to get it working :)
   about CUSTOM STYLES / OVERRIDES HERE: */

.about{
	color: rgba(0, 0, 0,0.8);
	text-align: center;
}
.about .slider h2 {
	margin-top: 30vh;
	margin-bottom: 10vh;
	font-weight: 200;
	letter-spacing: -0.06em;
	word-spacing: 0.1em;
	font-size: 5em;
}

.about .slider p {
	margin-bottom: 40vh;
	color: rgba(0,0,0,0.8);
	font-size: 2em;
}

.about .slider ul {
	margin-bottom: 35vh;
	color: rgba(0,0,0,0.8);
	font-size: 1.5em;
}

.about a {
	border-radius: 50%;
	margin: 0 3px;
	color: rgba(0,0,0,0.8);
	text-decoration: none;
}

/* ------------------------------------------- Footer -------------------------------------------- */


footer, footer * {
	margin-top: 5vh;
	margin-bottom: 5vh;
	color: #ffffff;
	font-family: Consolas, sans-serif;
	font-size: 1.2em;
}